@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,900;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#logo {
  width: 10px;
  padding-left: 5px;
  
}


.dropdown-menu .dropdown-item {
  color: #fff;
  font-size: 1.1em;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #5b5959;
  color: #fff;

}

.home {
  height: 50vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.feature p {
  color: grey;
  width: 100%;
}

.about .p1 {
  font-size: 1.3rem;
  color: grey;
}

.about p {
  color: grey;
}

.service {
  margin-top: 8rem;
  background-image: linear-gradient(#ebe9e9, #dbdbdb);
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.main-name {
  padding: 30px 0;
  text-align: center;
}

.main-name h4 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  margin: 0 0 20px;
}

.main-name p {
  font-size: 16px;
  padding: 0 35px;
}

.gallery img {
  width: 285px;
  height: 200px;
  display: inline-block;
  border-left: 1px solid white;
  transition: transform 1s, filter 2s ease-in-out;
}

.letter {
  background-image: linear-gradient(#232526, #414345);
  color: white;
  text-align: center;
}

.letter input {
  height: 38px;
  width: 43%;
  border-radius: 5px;
  border: none;
}

.letter .btn {
  margin-bottom: 6px;
}

.letter .fa-brands {
  font-size: 30px;
  color: white;
  padding: 0 20px;
}

footer {
  background: lightgrey;
  color: grey;
}

.letter hr {
  border-top: 1px solid white;
}
